body {
    margin: 0 auto;
    padding: 0;
    color: white;
    background-color: #111;
    background: url('mole_people.jpg') fixed no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

button {
    display: block;
    width: 333px;
    color: white;
    background-color: #1f7f1f;
    margin: 1em auto;
    cursor: pointer;
    font-size: 110%;
    font-weight: bold;
    border-radius: 3px;
    border-top: 2px solid #7f9f7f;
    border-left: 2px solid #7f9f7f;
    border-right: 2px solid #005f00;
    border-bottom: 2px solid #005f00;
}

textarea {
    border: 1px solid #333;
    font-family: Monospace;
    font-size: 75%;
    margin: 1em auto;
    padding: 0;
}

p, progress {
    color: white;
    margin: 0.5em auto 0;
    max-width: 25em;
    font-size: 120%;
    line-height: 2em;
}
progress {
    height: 2em;
}
