body {
    margin: 1em auto 0;
    max-width: 60em;
    color: #111;
    background-color: white;
}
body::before {
    content: url('mole_people.jpg');
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

textarea {
    border: 1px solid #333;
    font-family: Monospace;
    font-size: 100%;
}

button {
    float: left;
    margin: 1em 0 0;
}
button, p, progress {
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
    font-size: 120%;
    line-height: 2em;
}
progress {
    height: 2em;
}
